@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400|Lobster');

/********************************************** General styling **********************************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    color: #262626;
    background-color: #262626;
    
}

h1, h2, h3, h4, h5 {
    font-family:'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #B21F10;
}

h1 {
    font-size: 2.563em;
    font-weight: 700;
}

h2 {
    font-size: 2.278em;
    text-shadow:
            1px 1px 0 #fff;
    font-weight:700;
}

h3 {
    font-size: 2.025em;
    color: #262626;
    font-weight: 700;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    color: #262626;
}

h5 {
    font-size: 1.2em;
    font-weight: 1200;
    color: #262626;

}

h8 {
    font-size: 1.8em;
    font-weight: 700;
    color: #fff;

}

h9 {
    font-size: 1.6em;
    font-weight: 1200 !important;
    color: #262626;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;

}

.fa {
    padding-right:.75em;
}

p, span {
    font-size:1.2em;
    text-align: justify;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 5px;
}

.profile-pic {
    width: 100%;
    height: 250px;
}

.left-sidebar .profile-pic{
    height:414px;
}

.groups .profile-pic {
    height: 360px;
}

@media screen and (max-width: 480px){
    .left-sidebar .profile-pic{
        height:260px;
    }

    .edit .profile-pic {
        height:290px;
    }
}

.edit .profile-pic {
    height:330px;
}

.profile-pic .image {
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 0.2em;
}

button {
    font-family:'Montserrat', sans-serif;
    font-size:1.1em;
    font-weight: 700;
    color: #fff;
    background: #b21f10;
    padding: 0.75em 2em;
    margin-top:1em;
    text-transform: uppercase;
    border-style: none;
    border-radius: 0.2em;
}

input, select {
    padding:0.5em;
    border-radius: 0.2em;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom:0.5em;
    font-size:1.3em;
    color: #000;
}

.Select-value-label {
    font-size: 0.85em;
    color: #000
}

select {
    appearance: none;
    background: #fff url("/img/chevron-down.png") no-repeat scroll 97% center / 3% auto;
    width: 50%;
}

.Select-placeholder {
    color: #000;
}

input[type=checkbox]{
    margin-top:0.6em;
    margin-right:0.2em;
    width:0.75em;
    height:0.75em;
}

label {
    display: block;
    margin-top:1em;
}

label input:not([type=radio]){
    display: block;
    width:100%;
}

input:not([type=radio]), button, select {

}

.Select input {
border:none;
}

.Select {
    /*margin-top:1em;*/
    font-size:1.2em;
}

.Select-control {
    height:48px;
}

.Select-placeholder, .Select-value-label {
    line-height:48px;
}

/********************************************** Profile page elements **********************************************/
a.tag {
    color: #262626;
    cursor: default;

    display: inline-block;
    padding: 0.2em 0.5em;
    margin:0.2em;

    border:0.2em solid #B21F10;
    border-radius: 0.5em;

    text-decoration: none;
}

a.tag span{
    font-weight: 400;
}

/********************************************** 404 page **********************************************/

.not-found {
    margin-bottom:2em;
}

/********************************************** Bootstrap overriding **********************************************/

.container-fluid {
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 8px 3px #262626;
}

.row {
    margin-left:0;
    margin-right:0;
}
main > .row {
    /*padding:2em 1.5em;*/
}

.inline {
    display: inline;
    margin-right:0.5em;
}

.container-elements {
    position: relative;
    /*border:1px solid rgba(0,0,0,0.2);*/
    margin:0.5em;
    padding:0.5em;
}

.container-elements img {
    display: inline-block;
    position: relative;
    top: 0;
    margin-right:1em;
    margin-top:-3em;
    width: 4em;
}

.delete-element {
    display: none;
    position: absolute;
    cursor: pointer;
    top:0;
    right: 5em;
    height:100%;
    margin:0;
    padding:1.6em 0.7em;
    font-size:1.2em;
    font-weight:700;
    color: #fff;
    background-color: #B21F10;
}

.delete-video {
    position: absolute;
    top: -1em;
    right: 0.3em;
}

.container-tags {
    border:1px solid rgba(0,0,0,0.0);
    border-radius: 0.2em;
}

.container-tags button {
    display: inline-block;
    margin-right:0.5em;
    margin-bottom:0.5em;
}

/********************************************** Edit profile page **********************************************/

.edit .delete-element {
    display: block;
}

.edit label {
    width: 100%;
}

.edit .tag {
    padding-right: 0;
}

.edit .tag span{
    position: relative;
    right: 0;
    background: #b21f10;
    color: #fff;
    padding:0.2em 0.6em;
    margin-left:0.7em;
}

.edit input:not([type=radio]), .edit select {
    width: 100%;
}

.edit .Select {
    margin-bottom:1em;
}

.edit input.inline {
    width: 75%;
    margin-bottom:1em;
}

.edit label input:not([type=radio]), .edit label textarea, .edit label select {
    display: block;
    margin-bottom:1em;
    width: 100%;
}

.edit label textarea {
    width: 100%;
    box-sizing: border-box;
}

.edit .col-xs-6 label, .edit .col-xs-6 label input, .edit .col-xs-6 label textarea {
    width:100%;
}

.edit #instrument-form {
    position: relative;
}

.edit #instrument-form select, .edit #instrument-form input, .edit #instrument-form button {
    display: inline-block;
    width:30%;
    margin:auto 1em auto auto;
    vertical-align: middle;
}

.edit #saveProfile {
    background: none;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    margin:0 auto;

}

.edit #saveProfile > button {
    margin:1em  auto;
    padding-left:6em;
    padding-right:6em;

}

.edit .ReactModalPortal .ReactModal__Content.ReactModal__Content--after-open img{
    width:10%;
}

/********************************************** Main page **********************************************/

.title, .subtitle {
    /*padding-left:2em;*/
}

.title a {
    text-decoration: none;
}

.title a h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size:5em;
    text-transform: capitalize;
    color: #B21F10;
}

.subtitle h2{
    font-size:1.3em;
    font-weight:700;
    font-family:'Lato', sans-serif;
    color: #262626;
    text-transform: uppercase;
}

.main-menu a {
    text-decoration: none;
    font-size: 1.3em;
    color: #262626;
    font-weight:700;
}

.main-menu a:hover {
    color: #B21F10;
}

.main-menu a.active {
    color: #B21F10;
}

.main-menu ul {
    display: block;
    list-style: none;
    float: right;

    padding-top:3.5em;
    padding-right: 1.5em;

}

.main-menu ul li {
    display: inline;
    padding-left: 4em;
    text-transform: uppercase;

    border:0.2em solid #fff;
}

.imageclass {
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.h3homepageclass{
    margin-bottom: 1.5em;
}

.module {
    padding:5em 3em;
    /*margin-top:1.5em;*/
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s23.postimg.org/dw87u86mj/image_4.png);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.module.two {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s29.postimg.org/yk66rxix3/image_3.png);
    background-size: cover;
}

.module.three {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s28.postimg.org/6fu7j2j4d/image1_copy.png);
    background-size: cover;
}

.groups {
    text-align: center;
    margin-bottom:7em;
}

.groups .container-elements h4, .groups .container-elements p {
    text-align: left;
}

.groups p{
    font-size:1em;
}

/********************************************** Main page - Headline **********************************************/
.headline {
    padding: 5em 3em;
    background: linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(/img/live-rock.jpg);
    background-size: cover;
    margin: 0px 0 30px 0px;
    text-align: center;
}

.headline .autocompleteLocation{
    width:50%;
}

.headline h2 {
    margin-bottom: 1.4em;
    color: #fff;

    font-family:'Lato', sans-serif;
    text-shadow: none;

    text-align: center;
    text-transform: none;
}

/*.headline form button {*/
    /*background-color: #262626;*/
    /*border: 1px solid #fff;*/
    /*color: #fff;*/
    /*margin-top:1em;*/
/*}*/

.headline form button:hover {
    background-color: #fff;
    color: #262626;
}

.headline form > div {
    text-align: center;
}

.headline form .Select {
    width:50%;
    margin:1.5em auto;
}

.headline form .Select-multi-value-wrapper {
    text-align: left;
}

.facts {
    text-align: center;
    color: #fff;
}

.facts h3 {
    color: #fff;
    font-weight:700;
    font-size:2.5em;
}

.facts p {
    font-size:1.6em;
    text-align: center;
}






.name {
    text-transform: capitalize;
}

.left-sidebar img {
    border-radius: 0.5em;
}

.left-sidebar section {
    margin-top: 2em;
}

.left-sidebar section.reviews article {
    margin-bottom: 1.5em;
}

.left-sidebar section.reviews article header h4 {
    display: inline-block;
    padding-left: 1em;

    font-size:1.4em;
    text-transform: uppercase;
    font-weight: 700;
}

.left-sidebar section.reviews article header p {
    color: #B21F10;
}

.left-sidebar section.reviews article footer p {
    font-size: 0.8em;
}

section.instruments article {
    margin-bottom: 1.5em;
}

section.instruments article img {
    border-radius: 0.5em;
}

.instrument h4 {
    font-size:1.5em;
}

.instrument .review_percentage {
    font-size:1.8em;
    margin-left:0.5em;
}

.instrument span.fa {
    font-size:3em;
}

/* Profile */
.profile_content section:not(:first-child) {
    /*margin-top:4em;*/
}

/* Search results */
.searchResultPage h2 {
    color: #262626;
}

.searchResultPage h2 span {
    color: #B21F10;
    font-size:1em;
}

.result {
    margin-bottom:2em;
}

.result h3 {
    cursor: pointer;
}

#showHideFilters {
    font-size:0.8em;
    cursor: pointer;
    display: none;
}

.result button, #contact_me_button {
    display: block;
    margin: 1.5em auto 0 auto;
    background-color: #B21F10;
    color: #fff;
    text-transform: uppercase;
    font-weight:700;
}

.editprofile button, #edit_profile_button {
    display: block;
    margin: 1.5em auto 0 auto;
    background-color: #B21F10 !important;
    color: #fff;
    text-transform: uppercase;
    font-weight:700;
}

/* Venues */
.venue:not(:first-child) {
    margin-top:2.5em;
}

.venue h2 {
    font-weight: 700;
    margin-top:0.5em;
}

.venue .details {
    /*margin-bottom:1.2em;*/
}

.venue .details span {
    margin-right:2em;
}

.venue .details span.fa {
    margin-right: 0.5em;
}

.venuedescription {
    margin-top: 1.0em;
}

/* Faq page */
.faq img {
    margin-bottom:1.5em;
}

.faq h3 {
    text-transform: none;
    font-size:1.5em;
    line-height:1.3em;
}

.module.four {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(/img/live-rock.jpg);
    background-size: cover;
}
.faq section p {
    margin-top:0;
    color: #fff;
}

/* Videos */
.videos iframe {
    width: 100%;
    /*height:auto;*/
}

.videos .main_video iframe {
    height:460px;
}

/* Footer */
.contenitore > footer {
    background-color: #5C5E5C;
    color: #fff;
    padding-top:1.5em;
    padding-bottom:1.5em;
    margin-top:1em;
}

.contenitore > footer h4, .contenitore > footer p {
    text-align: center;
}

.contenitore > footer .row {
    margin-left: 0;
    margin-right: 0;
}

/* Register page */
.register section {
    margin-bottom:1.5em;
    margin-top: 1.5em;
}

.register section h3 {
    margin-top:0;
    color: #B21F10;
}

/* Override FireBaseUI Auth */
.mdl-button {
    color: red;
    background: #fff;
}

.firebaseui-idp-icon {
    margin-right:1em;
    width:1.5em;
}

.firebaseui-idp-list {
    list-style: none;
    padding-left:0;
}

.firebaseui-list-item {
    margin-bottom:1em;
}

.firebaseui-idp-button {
    background: #ccc;
    color: #262626;
}

.firebaseui-idp-text-long {
    display: none;
}

.firebaseui-idp-google img {
    width: 1.5em;
}

@media screen and (max-width: 480px){
    body {
        font-size:1.4em;
    }

    p {
        font-size:1.3em;
    }

    h2 {
        font-size:2em;
    }

    .title a h1 {
        font-size:6.5em;
        text-align: center;
    }

    .subtitle h2 {
        text-align: center;
    }

    .main-menu ul {
        padding: 1.5em 0 0 0;
        width: 100%;
    }

    .main-menu ul li {
        display: inline-block;
        background-color: #B21F10;
        padding: 0;
        width: 50%;
        text-align: center;
        margin-bottom:0.3em;
    }

    .main-menu a {
        color: #fff;
        display: block;
        width: 100%;
        border:0.2em solid #B21F10;
    }

    .main-menu a.active, .main-menu a:hover {
        color: #B21F10;
        background-color: #fff;
        border:0.2em solid #B21F10;
    }

    .headline form input, .headline form select, .headline .autocompleteLocation{
        width: 100%;
        margin-bottom:0.5em;
    }

    .headline form button {
        margin-right: 0;
        margin-top:1em;
    }

    .venue .details span:not(.fa){
        display: inline-block;
    }

    .filters {
        display: none;
    }

    #showHideFilters {
        display: inline;
    }

    .bold {
        font-weight:bold !important;
    }

    .edit #instrument-form select, .edit #instrument-form input, .edit #instrument-form button {
        display: block;
        width:100%;
        margin-bottom:0.5em;
    }

    .delete-element {
        top:1em;
        right:0;
        padding-top:0.2em;
        height:20%;
    }

    .container-elements {
        padding-right:1.5em;
    }

    .container-elements img {
        width:6em;
        margin-top:1em;
    }

    .edit input.inline, .edit input.inline + button {
        width: 100%;
    }

    .edit input.inline + button {
        margin-top:0;
        margin-bottom:1em;
    }

    /*.instrument img*/
}
