body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.8em;
}

/* Header */
.main-container > header {
  padding: 1.5em;
}

.main-menu ul {
  display: block;
  list-style: none;
  float: right;
}

.main-menu ul li {
  display: inline;
  padding-left: 2em;
  text-transform: uppercase;
}

/* Jumbotron */
.jumbotron {
  display: block;
  margin: 0 auto;
}

.jumbotron form, .jumbotron h2 {
  text-align: center;
}

.jumbotron h2 {
  margin-bottom: 1.5em;
}

.jumbotron form input, .jumbotron form button {
  display: inline-block;
  margin-right: 1.5em;
}

/* main content */
.facts {
  text-align: center;
}

.facts p {
  text-align: justify;
  padding: 1em 1.5em;
}
