@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lobster');

/********************************************** General styling **********************************************/

body {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    color: #262626;
    background-color: #262626;
    
}

h1, h2, h3 {
    text-transform: capitalize;
    color: #B21F10;
}

h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    text-shadow:
            1px 1px 0 #fff;
    /*-1px -1px 0 #fff,*/
    /*1px -1px 0 #fff,*/
    /*-1px 1px 0 #fff,*/
    /*1px 1px 0 #fff;*/
}

h3 {
    font-size: 2em;
    color: #262626;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 5px;
}

button {
    color: #262626;
    font-size: 1.4em;
    padding: 0.5em 2em;
    text-transform: uppercase;
    font-weight: 700;
}

label {
    display: block;
}

label input:not([type=radio]){
    display: block;
    width:100%;
}

input:not([type=radio]), button {
    font-size:1.2em;
    padding:0.5em;
    border-radius: 0.2em;
    border: 1px solid rgba(0,0,0,0.2);
    color: #262626;
    margin-bottom:0.5em;
}

.Select input {
border:none;
}

.Select {
    /*margin-top:1em;*/
    font-size:1.2em;
}

.Select-control {
    height:48px;
}

.Select-placeholder, .Select-value-label {
    line-height:48px;
}

/********************************************** Profile page elements **********************************************/
a.tag {
    color: #262626;
    cursor: default;

    display: inline-block;
    padding:0.5em;
    margin:0.2em;

    border:0.2em solid #B21F10;
    border-radius: 0.5em;

    text-decoration: none;
}

/*a.tag:hover {*/
/*color: #fff;*/
/*background-color: #B21F10;*/
/*}*/

a.tag span{
    text-transform: uppercase;
    font-weight: 700;
}

/********************************************** 404 page **********************************************/

.not-found {
    margin-bottom:2em;
}

/********************************************** Bootstrap overriding **********************************************/

.container-fluid {
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 8px 3px #262626;
}

.row {
    margin-left:0;
    margin-right:0;
}
main > .row {
    /*padding:2em 1.5em;*/
}

.inline {
    display: inline;
    margin-right:0.5em;
}

.container-elements {
    position: relative;
    border:1px solid rgba(0,0,0,0.2);
    margin:0.5em;
    padding:0.5em;
}

.delete-element {
    display: none;
    position: absolute;
    cursor: pointer;
    top:0;
    right: 0;
    margin:0;
    padding:0.8em;
    font-size:1.2em;
    font-weight:700;
    color: #fff;
    background-color: #B21F10;
}

.container-tags {
    border:1px solid rgba(0,0,0,0.0);
    border-radius: 0.2em;
}

.container-tags button {
    display: inline-block;
    margin-right:0.5em;
    margin-bottom:0.5em;
}

/********************************************** Edit profile page **********************************************/

.edit .delete-element {
    display: block;
}

.edit label {
    width: 100%;
}

.edit .tag {
    padding-right: 0;
}

.edit .tag span{
    position: relative;
    right: 0;
    background: #b21f10;
    color: #fff;
    padding:0.7em;
    margin-left:0.7em;
}

.edit input:not([type=radio]) {
    width: 100%;
}

.edit input.inline {
    width: 75%;
    margin-bottom:1em;
}

.edit label input:not([type=radio]), .edit label textarea {
    display: block;
    margin-top:0.2em;
    margin-bottom:1em;
    width: 100%;
}

.edit label textarea {
    width: 100%;
    box-sizing: border-box;
}

.edit .col-xs-6 label, .edit .col-xs-6 label input, .edit .col-xs-6 label textarea {
    width:100%;
}

.edit #instrument-form {
    position: relative;
}

.edit #instrument-form .Select, .edit #instrument-form input, .edit #instrument-form button {
    display: inline-block;
    width:30%;
    margin:auto 1em auto auto;
    vertical-align: middle;
}

/********************************************** Main page **********************************************/

.title, .subtitle {
    /*padding-left:2em;*/
}

.title a {
    text-decoration: none;
}

.title a h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size:5em;
    text-transform: capitalize;
    color: #B21F10;
}

.subtitle h2{
    font-size:1.3em;
    font-weight:700;
    font-family:'Lato', sans-serif;
    color: #262626;
    text-transform: uppercase;
}

.main-menu a {
    text-decoration: none;
    font-size: 1.3em;
    color: #262626;
    font-weight:700;
}

.main-menu a:hover {
    color: #B21F10;
}

.main-menu a.active {
    color: #B21F10;
}

.main-menu ul {
    display: block;
    list-style: none;
    float: right;

    padding-top:3.5em;
    padding-right: 1.5em;

}

.main-menu ul li {
    display: inline;
    padding-left: 4em;
    text-transform: uppercase;

    border:0.2em solid #fff;
}

.imageclass {
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.h3homepageclass{
    margin-bottom: 1.5em;
}

.module {
    padding:5em 3em;
    /*margin-top:1.5em;*/
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s23.postimg.org/dw87u86mj/image_4.png);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.module.two {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s29.postimg.org/yk66rxix3/image_3.png);
    background-size: cover;
}

.module.three {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* bottom, image */
    url(https://s28.postimg.org/6fu7j2j4d/image1_copy.png);
    background-size: cover;
}

/********************************************** Main page - Headline **********************************************/
.headline {
    padding: 5em 3em;
    background: linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(/img/live-rock.jpg);
    background-size: cover;
    margin: 0px 0 30px 0px;
    text-align: center;
}

.headline .autocompleteLocation{
    width:50%;
}

.headline h2 {
    margin-bottom: 1.4em;
    color: #fff;

    font-family:'Lato', sans-serif;
    text-shadow: none;

    text-align: center;
    text-transform: none;
}

.headline form button {
    background-color: #262626;
    border: 1px solid #fff;
    color: #fff;
    margin-top:1em;
}

.headline form button:hover {
    background-color: #fff;
    color: #262626;
}

.headline form > div {
    text-align: center;
}

.headline form .Select {
    width:50%;
    margin:1.5em auto;
}

.headline form .Select-multi-value-wrapper {
    text-align: left;
}

.facts {
    text-align: center;
    color: #fff;
}

.facts h3 {
    color: #fff;
    font-weight:700;
    font-size:2.5em;
}

.facts p {
    font-size:1.8em;
}






.name {
    text-transform: capitalize;
}

.left-sidebar img {
    border-radius: 0.5em;
}

.left-sidebar section {
    margin-top: 2em;
}

.left-sidebar section.reviews article {
    margin-bottom: 1.5em;
}

.left-sidebar section.reviews article header h4 {
    display: inline-block;
    padding-left: 1em;

    font-size:1.4em;
    text-transform: uppercase;
    font-weight: 700;
}

.left-sidebar section.reviews article header p {
    text-transform: uppercase;
    font-weight: 700;
    color: #B21F10;
}

.left-sidebar section.reviews article footer p {
    font-size: 0.8em;
}

section.instruments article {
    margin-bottom: 1.5em;
}

section.instruments article img {
    border-radius: 0.5em;
}

.instrument h4 {
    font-size:1.5em;
}

.instrument .review_percentage {
    font-size:1.8em;
    margin-left:0.5em;
}

.instrument span.fa {
    font-size:3em;
}

/* Profile */
.profile_content section:not(:first-child) {
    /*margin-top:4em;*/
}

/* Search results */
.searchResultPage h2 {
    color: #262626;
}

.searchResultPage h2 span {
    color: #B21F10;
}

.result {
    margin-bottom:2em;
}

.result img {
    margin-top:1.5em;
    cursor: pointer;
}

.result h3 {
    cursor: pointer;
}

.result button {
    display: block;
    margin: 1.5em auto 0 auto;
    background-color: #B21F10;
    color: #fff;
    text-transform: uppercase;
    font-weight:700;
}

/* Venues */
.venue:not(:first-child) {
    margin-top:2.5em;
}

.venue h2 {
    font-weight: 700;
    margin-top:0.5em;
}

.venue .details {
    /*margin-bottom:1.2em;*/
}

.venue .details span {
    margin-right:2em;
}

.venue .details span.fa {
    margin-right: 0.5em;
}

.venuedescription {
    margin-top: 1.0em;
}

/* Faq page */
.faq img {
    margin-bottom:1.5em;
}

/* Videos */
.videos iframe {
    width: 100%;
    /*height:auto;*/
}

.videos .main_video iframe {
    height:460px;
}

/* Footer */
.contenitore > footer {
    background-color: #5C5E5C;
    color: #fff;
    padding-top:1.5em;
    padding-bottom:1.5em;
    text-align: center;
}

.contenitore > footer h2 {
    text-align: center;
}

.contenitore > footer .row {
    margin-left: 0;
    margin-right: 0;
}

/* Register page */
.register section {
    margin-bottom:1.5em;
    margin-top: 1.5em;
}

.register section h3 {
    margin-top:0;
}

/* Override FireBaseUI Auth */
.mdl-button {
    color: red;
    background: #fff;
}

.firebaseui-idp-icon {
    margin-right:1em;
    width:1.5em;
}

.firebaseui-idp-list {
    list-style: none;
    padding-left:0;
}

.firebaseui-list-item {
    margin-bottom:1em;
}

.firebaseui-idp-button {
    background: #ccc;
    color: #262626;
}

.firebaseui-idp-text-long {
    display: none;
}

.firebaseui-idp-google img {
    width: 1.5em;
}

@media screen and (max-width: 480px){
    body {
        font-size:1.4em;
    }

    p {
        font-size:1.3em;
    }

    h2 {
        font-size:2em;
    }

    input[type=text], input, .Select {
        /*min-width: 16em;*/
        min-width:16em;
    }

    .main-menu ul {
        padding: 1.5em 0 0 0;
        width: 100%;
    }

    .main-menu ul li {
        display: inline-block;
        background-color: #B21F10;
        padding: 0;
        width: 33%;
        text-align: center;
        margin-bottom:0.3em;
    }

    .main-menu a {
        color: #fff;
        display: block;
        width: 100%;
        border:0.2em solid #B21F10;
    }

    .main-menu a:hover {
        color: #B21F10;
        background-color: #fff;
        border:0.2em solid #B21F10;
    }

    .headline form input {
        width: 100%;
        margin-bottom:0.5em;
    }

    .headline form button {
        margin-right: 0;
        margin-top:1em;
    }

    .venue .details span:not(.fa){
        display: inline-block;
    }


}