/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/* Header */
.main-container > header {
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.5em;
}

.main-menu ul {
  display: block;
  list-style: none;
  float: right;
}

.main-menu ul li {
  display: inline;
  padding-left: 1em;
  text-transform: uppercase;
}

.main-menu ul li:last-child {
  /*padding-right: 2em;*/
}
